.icon-adv {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 1.58em;
  height: 1em;
  fill: initial;
}
.icon-auto {
  width: 1.45em;
  height: 1em;
  fill: initial;
}
.icon-baby {
  width: 0.87em;
  height: 1em;
  fill: initial;
}
.icon-cansel {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cat {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checked-bg {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checked {
  width: 1.47em;
  height: 1em;
  fill: initial;
}
.icon-chevron-bottom {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
.icon-chevron-right-light {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-chevron-right {
  width: 0.7em;
  height: 1em;
  fill: initial;
}
.icon-clip {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clothes {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-comment {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
.icon-comp {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-dollar {
  width: 0.58em;
  height: 1em;
  fill: initial;
}
.icon-double-arrow-bottom {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-euro {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.icon-eye {
  width: 1.56em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fork {
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.icon-hamb {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-heart-stroke {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.icon-home {
  width: 1.31em;
  height: 1em;
  fill: initial;
}
.icon-map {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-ok {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-out {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.icon-paint {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-property {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-rocket {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-rub {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-settings {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-suitcase {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.icon-text {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-trash {
  width: 0.87em;
  height: 1em;
  fill: initial;
}
.icon-tri-vertical {
  width: 0.64em;
  height: 1em;
  fill: initial;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-view-grid {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-view-list {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
